

<button class="animal" data-size="<%= animals[0].size %>">
  <%= animals[0].name %>
</button>
<span class="or">
    or
</span>
<button class="animal" data-size="<%= animals[1].size %>">
  <%= animals[1].name %>
</button>

